.body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}
.left-side img{
    width: 500px;
	height: 300px;
    border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
.right-side{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}

#chk:checked ~ .login{
	transform: translateY(-360px);
}
#chk:checked ~ .login label{
	transform: scale(1);
    padding-top: 2rem;
    padding-bottom: 2rem;	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}

@media only screen and (max-width: 600px) {
    .body{
        flex-direction: column;
        justify-content: space-between;
    }
    .left-side{
        margin-top: 3rem;
    }
    .left-side img{
        width: 350px;
        height: 200px;
    }
    .right-side{
        margin-bottom: 3rem;
        height: 450px;
    }
    #chk:checked ~ .login{
        transform: translateY(-320px);
    }
    #chk:checked ~ .login label{
        transform: scale(1);
        padding-top: 2rem;
        padding-bottom: 2rem;	
    }
  }